################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Melimelo/v15
/Test/TestLoop/.vs/TestLoop/v15
/Test/TestLoop/bin/DesktopGL/AnyCPU/Debug
/Test/TestLoop/obj/Debug
